# Ambientes Python y Cachés
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
build/
dist/

# Archivos pesados de Datos y Modelos
data/
datasets/
models/BACKUPS/
models/predict_runs/
models/train_fold_0/
models/train_fold_02/
models/train_fold_03/
models/train_fold_04/
models/train_fold_1/
models/train_fold_2/
runs/
notebooks/runs/

# Credenciales y Variables de Entorno
cookies.txt
.env
